body{
  margin:0;
}

/*Header*/
.logo{
  display:flex;
  align-items:center;
}

.logo img{
  height:48px;
}

.logo h2{
  font-family: "Do Hyeon", sans-serif;
}

.logo h2 span:first-child{
  color:darkslategrey;
}

.logo h2 span:last-child{
  color:dimgrey;
}

.navigation ul li{
  list-style: none;
  display:inline-block;
  margin-left:16px;
  padding:10px;
  border-radius:10px;
  transition:all 250ms ease-in 50ms;
  font-family: "Carrois Gothic", sans-serif;
}

.navigation ul li:hover{
  background-color:orange;
  color:white;
}

header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-left:24px;
  margin-right:24px;
}

/*Banner*/

.main {
  background-color:lightgrey;
  display:flex;
  justify-content: flex-start;
}

.banner{
  width:60%;
  margin:32px 24px;
}

.banner img{
  width:100%;
}

.slogan {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:30%;
}

.slogan h1{
  font-family:"bitter", sans-serif;
  font-size:50px;
  font-weight:bold;
}

.slogan p{
  font-family:"Questrial", sans-serif;
  font-size:20px;
}

.apply-btn{
  width:100%;
  background-color:MediumVioletRed;
  padding:8px;
  color:white;
  text-align:center;
  font-size:30px;
  font-family:"Hammersmith One", sans-serif;
  margin-top:20px;
}

/*Content*/

.content-image{
  width:60%;
  margin:32px 24px;
}

.content-image img{
  width:100%;
}

.info{
  width:40%;
  margin-top:32px;
}

.orientation,
.campus,
.guest{
  border:1px solid lightgrey;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease-in 100ms;
}

.info-image{
  width:35%;
}

.info-image img{
  width:100%;
  height:auto;
  padding:16px;

}

.orientation .detail,
.campus .detail,
.guest .detail{
  width:65%;
  margin-left:5%;
}

.content {
  display:flex;
  justify-content: flex-start;
}

.detail h3{
  font-family:"Playfair Display",sans-serif;
  font-size:28px;
}

.detail p,
.detail a,
.content-image p{
  font-family:"Sniglet",sans-serif;
}

.orientation:hover,
.campus:hover,
.guest:hover{
  background-color:Salmon;
}

.content-image h1{
  font-family:"bitter", sans-serif;
  font-size:30px;
  font-weight:bold;
}

/*Courses*/

.learning{
  background-color:lightgrey;
  width:100%;
}

.courses{
  width:25%;
  background-color:white;
  margin:32px;
}

.courses img{
  width:100%;
}

.course-description{
  width:85%;
  margin-top:16px;
  margin-left:16px;
}

.course-description h3{
  font-family:"Berkshire Swash", sans-serif;
  font-size:2rem;
}

.course-description p{
  font-family:"Sniglet",sans-serif;
  font-size:18px;
}

.course-selection{
  display:flex;
  flex-wrap:wrap;
  margin: 32px 72px;
  justify-content: center;
}
